@import url('https://fonts.googleapis.com/css?family=Poppins');

.titleContainer{
	font-family: 'Poppins', sans-serif;
	position: relative;
	h1{
		font-size: 90px;
		margin: 0;
		line-height: 1.1em;
	}
	
	--maskX: 0;
	--maskY:50;
}
.titleWrapper{
	color: #D4BBAB;
	cursor: pointer;
}
.cloneWrapper{
	position: absolute;
	top: 0;
	left: 0;
	color: #E2dcca;
	transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
	// clip-path:polygon(0 0, calc(var(--maskX)*1%) 0,calc(var(--maskY)*1%)  100%, 0 100%);	
	clip-path:polygon(0 0, calc(var(--maskX) * 1% + (var(--maskY) - 50) * 0.4%) 0,calc(var(--maskX) * 1% + (var(--maskY) - 50) * -.4%) 100%, 0 100%);	
	
	// clip-path: polygon(0 0, calc(var(--maskX) * 1% + (var(--maskY)-50) * .4%) 0,calc(var(--maskX) * 1% + (var(--maskY)-50)* -0.4%) 100%, 0 100%);
}